<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User List</title>
    <link rel="stylesheet" href="/css/dating.css">
    <link rel="stylesheet" href="/css/sidebar.css">
</head>
<body>
<input type="checkbox" id="check">
<label for="check">
    <i class="fas fa-bars" id="btn"></i>
    <i class="fas fa-times" id="cancel"></i>
</label>
<div class="sidebar">
    <header>Dating</header>
    <ul>
        <li><a href="search"><i class="fas fa-qrcode"></i>Start Searching</a></li>
        <li><a href="profile"><i class="fas fa-qrcode"></i>Your Profile</a></li>
        <li><a href="connections"><i class="fas fa-qrcode"></i>Likes</a></li>
        <li><a href="settings"><i class="fas fa-qrcode"></i>Settings</a></li>
        <li><a href="logout"><i class="fas fa-qrcode"></i>LogOut</a></li>
    </ul>
</div>
<section>
<div class="container">
    <h1>Users</h1>
    <table>
        <ul class="user-list">
            <li th:each="user : ${users}" th:onclick="'alert(\'User \'+ ${user.firstName} + \' clicked!\')'">
                <div class="user-info">
                    <div class="user-avatar" th:text="${user.userAccountFirstName.substring(0, 1).toUpperCase()}">U</div>
                    <div class="user-details">
                        <p><strong>First Name:</strong> <span th:text="${user.userAccountFirstName}"></span></p>
                        <p><strong>Last Name:</strong> <span th:text="${user.userAccountLastName}"></span></p>
                        <p><strong>Gender:</strong> <span th:text="${user.userAccountGenderId}"></span></p>
                        <p><strong>About Me:</strong> <span th:text="${user.userAccountAboutMe}"></span></p>
                    </div>
                    <form th:action="@{like}" method="post">
                       <input type="hidden" th:name="userId", th:value="${user.id}">
                    <button type="submit" th:action="@{like}" class="like-button">Like</button>
                    </form>
                </div>
            </li>
        </ul>
    </table>
</div>
</section>
</body>
</html>