<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Registration or Sign Up form in HTML CSS | CodingLab </title>
  <link href="../static/css/registration.css" th:href="@{/css/registration.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="wrapper">
  <h2>Registration</h2>
  <form action="registration_continue" method="post" enctype="application/x-www-form-urlencoded">
    <div class="input-box">
      <input name="firstName" type="text" placeholder="Enter your first name" required>
      <div th:if="${param.error}" class="alert alert-error">
        "First name must contain only digit and lowercase letters."
      </div>
    </div>
    <div class="input-box">
      <input name="lastName" type="text" placeholder="Enter your last name" required>
      <div th:if="${param.error}" class="alert alert-error">
        "Last name must contain only digit
        and lowercase letters."
      </div>
    </div>
    <div class="input-box">
      <input name="email" type="email" placeholder="Enter your email" required>
      <div th:if="${param.error}" class="alert alert-error">
        "Email must match the pattern:
        example@example.etc"
      </div>
    </div>
    <div class="input-box">
      <label for="gender">Choose the gender type</label>
      <select id="gender" name="gender" class="form-control">
        <option value="MALE">MALE</option>
        <option value="FEMALE">FEMALE</option>
      </select>
    </div>
    <div class="input-box button">
      <input type="Submit" value="Register Now">
    </div>
  </form>
</div>
</body>
</html>